body {
    font-family: "Times New Roman", Times, serif;
    background-color: #fff8e1;
    text-align: center;
}

h1 {
    color: #5d4037;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 80%;
    margin: 40px auto;
}

img {
    width: 250px;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.1);
}

p {
    font-size: 18px;
    text-align: left;
}

.back-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #5d4037;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.back-btn:hover {
    background-color: #3e2723;
}